causal-conv1d==1.0.0
huggingface-hub==0.22.2
hyperopt==0.2.5
kmeans-pytorch==0.3
lightgbm==4.3.0
mamba-ssm==1.0.1
matplotlib-inline==0.1.6
matplotlib==3.8.4
numpy==1.26.3
numpy==1.26.4
pandas==2.2.1
parso==0.8.3
pexpect==4.8.0
pillow==10.2.0
pillow==10.3.0
plotly==5.20.0
protobuf==3.20.3
psutil==5.9.0
psutil==5.9.5
psutil==5.9.8
python==3.10.13
ray==2.6.0
recbole==1.2.0
requests==2.28.1
requests==2.31.0
scikit-learn==1.4.1.post1
scipy==1.11.4
scipy==1.13.0
torch==2.1.1
torch==2.1.1+cu118
torchaudio==2.1.1
torchaudio==2.1.1+cu118
torchvision==0.16.1
torchvision==0.16.1+cu118
tornado==6.3.3
tqdm==4.66.2
xgboost==2.0.3